/* FontAwesome
/* ---------------------------------------------------------- */

$fa-font-path: "~@fortawesome/fontawesome-free/webfonts";
@import "~@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "~@fortawesome/fontawesome-free/scss/solid.scss";
@import "~@fortawesome/fontawesome-free/scss/brands.scss";

/* Inter UI Font
/* ---------------------------------------------------------- */

$inter-font-path: "~inter-ui/Inter (web)";
@import "~inter-ui/inter.scss";

/* FiraCode Font
/* ---------------------------------------------------------- */

@import "~firacode/distr/fira_code.css";

/* FiraCode Font
/* ---------------------------------------------------------- */

@import "~typeface-pt-serif/index.css";

/* Bulma Overides
/* ---------------------------------------------------------- */

$family-primary: 'Inter';
$family-secondary: 'PT Serif';
$family-monospace: 'Fira Code';

$white: #FFFFFF;
$green: #7ED321;
$red: #FF3E00;
$black: #000000;
$yellow: #F0CC00;
$orange: #FF9A57;
$cyan: #44C7F4;

$body-color: $black;
$content-heading-color: $black;
$footer-background-color: $black;

// Navbar Overides
$navbar-background-color: $black;
$navbar-item-color: $white;
$navbar-item-active-color: $cyan;
$navbar-item-hover-color: $navbar-item-active-color;
$navbar-item-hover-background-color: $navbar-background-color;

@import "~bulma/bulma.sass";


/* Main
/* ---------------------------------------------------------- */

.site-main {
    padding: $size-3;
}

.site-main p,
ul,
li {
    font-family: 'PT Serif';
    font-size: 20px;
}

article a {
    background:
        linear-gradient(to bottom, $cyan 0%,
            $cyan 100%);
    background-position: 0 100%;
    background-repeat: repeat-x;
    background-size: 4px 4px;
    color: #000;
    text-decoration: none;
    transition: background-size .2s;
}

article a:hover {
    background-size: 4px 50px;
    color: $white;
}

/* Navbar
/* ---------------------------------------------------------- */

.navbar-brand a:hover {
    color: $navbar-item-color;
}

/* Index
/* ---------------------------------------------------------- */

.post-feed {
    display: grid;
    justify-content: space-between;
    grid-gap: 30px;
    grid-template-columns: 1fr 1fr 1fr;
}

@media (max-width: 980px) {
    .post-feed {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 680px) {
    .post-feed {
        grid-template-columns: 1fr;
    }
}

.post-card {
    color: inherit;
    text-decoration: none;
}

.post-card:hover {
    text-decoration: none;
}

.post-card-image {
    margin: 0 0 10px 0;
    width: auto;
    height: 200px;
    background: $grey no-repeat center center;
    background-size: cover;
}

.post-card-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 0 0 0;
    color: $grey;
}

.post-card-footer-left {
    display: flex;
    align-items: center;
}

.post-card-footer-right {
    display: flex;
    flex-direction: column;
}

.post-card-avatar {
    width: 30px;
    height: 30px;
    margin: 0 7px 0 0;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.post-card-avatar .author-profile-image {
    display: block;
    width: 100%;
    background: $grey;
    border-radius: 100%;
    object-fit: cover;
}

.post-card-avatar .default-avatar {
    width: 26px;
}

/* Tag Archives
/* ---------------------------------------------------------- */

.tag-header {
    max-width: 690px;
    margin: 0 0 4vw;
}

.tag-header h1 {
    margin: 0 0 1rem 0;
}

.tag-header p {
    margin: 0;
    color: $grey;
    font-size: 2.2rem;
    line-height: 1.3em;
}

@media (max-width: 500px) {
    .tag-header {
        border-bottom: $black 1px solid;
        padding-bottom: 4vw;
    }

    .tag-header p {
        font-size: 1.7rem;
    }
}


/* Author Archives
/* ---------------------------------------------------------- */

.author-header {
    display: flex;
    justify-content: space-between;
    margin: 0 0 4vw;
}

.author-header p {
    margin: 0;
    color: $black;
    font-size: 2.2rem;
    line-height: 1.3em;
}

.author-header-image {
    flex: 0 0 auto;
    margin: 0 0 0 4vw;
    height: 120px;
    width: 120px;
    border-radius: 100%;
    overflow: hidden;
}

.author-header-item {
    display: block;
    padding: 2px 10px;
}

.author-header-item:first-child {
    padding-left: 0;
}

@media (max-width: 500px) {
    .author-header {
        border-bottom: $black 1px solid;
        padding-bottom: 4vw;
    }

    .author-header p {
        font-size: 1.7rem;
    }

    .author-header-image {
        height: 80px;
        width: 80px;
    }
}


/* Pagination
/* ---------------------------------------------------------- */

.pagination {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 4vw 0 0;
}

.pagination a {
    display: inline-block;
    padding: 10px 15px;
    border: var(--color-border) 1px solid;
    color: $grey;
    text-decoration: none;
    font-size: 1.4rem;
    line-height: 1em;
    border-radius: var(--radius);
}

.pagination-location {
    position: absolute;
    left: 50%;
    width: 100px;
    margin-left: -50px;
    text-align: center;
    color: $grey;
    font-size: 1.3rem;
}

/* Footer
/* ---------------------------------------------------------- */

.social-buttons a {
    font-size: 1.75rem;
    margin-right: 1rem;
}


.footer p {
    color: $white;
}

.footer small {
    color: $white;
}

.footer a {
    transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1) 0s;
    color: $white;
}

.facebook:hover {
    color: #3b5998;
}

.linkedin:hover {
    color: #0077B5;
}

.twitter:hover {
    color: #00aced;
}

.github:hover {
    color: #211F1F;
}
